# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-yaml
    -   id: check-added-large-files

-   repo: local
    hooks:
    -   id: black
        name: black
        entry: uv tool run black ./src ./tests
        language: system
        types: [python]
        require_serial: true
    -   id: isort
        name: isort
        entry: uv tool run isort ./src ./tests
        language: system
        types: [python]
        require_serial: true
    -   id: ruff
        name: ruff check
        entry: uv tool run ruff check
        language: system
        types: [python]
        require_serial: true
